seed_everything: 42

ckpt_path: null

data:
  class_path: "contralearn.MNISTDataModule"
  init_args:
    data_dir: "run/data"
    mean: null
    std: null
    batch_size: 32
    num_workers: 0

model:
  class_path: "contralearn.ConvEmbedding"
  init_args:
    num_channels: [32, 48]
    num_features: [64, 2]
    margin: 0.5
    mine_mode: "batch_all"
    squared: true
    eps: 1e-06
    lr: 0.0003

trainer:
  accelerator: "cpu"
  max_epochs: 20
  log_every_n_steps: 100
  logger:
    class_path: "lightning.pytorch.loggers.TensorBoardLogger"
    init_args:
      save_dir: "run/"
      name: "mnist"
      version: null
  callbacks:
    - class_path: "lightning.pytorch.callbacks.LearningRateMonitor"
      init_args:
        logging_interval: null
    - class_path: "lightning.pytorch.callbacks.ModelCheckpoint"
      init_args:
        filename: "best"
        monitor: "val_loss"
        mode: "min"
        save_top_k: 1
    - class_path: "lightning.pytorch.callbacks.ModelCheckpoint"
      init_args:
        filename: "{epoch}"
        save_top_k: -1
        every_n_epochs: 1
        save_last: true
    # - class_path: "lightning.pytorch.callbacks.ModelCheckpoint"
    #   init_args:
    #     filename: "{step}"
    #     save_top_k: -1
    #     every_n_train_steps: 100
    #     save_last: false
